.idea

/node_modules

/web/bundles/

# Ember Application
/web/assets/
/web/tests/
/web/index.html
/web/crossdomain.xml
/web/robots.txt
/web/testem.js

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
